body {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
}

.login_apps img {
    height: 20px;
    width: 25px;
}

.login_apps p {
    color: white;
    
}

#CineShop {
    height: 100px;
    width: 150px;
}
